.detail{
    min-height:30rem;
}
.detail__product__left{
    display: flex;
    padding: 0 1rem;
    box-sizing: border-box;
}
.detail__list{
    width: 15%;
    display: flex;
    flex-direction:column ;
    padding: 0;
}
.detail__list__item{
    width: 100%;
    padding-bottom: 1rem ;
    box-sizing: border-box;
}
.detail__list__item img{
    width: 100%;
    cursor: pointer;
}
.detail__img{
    width: 85%;
    padding: 0 1rem;
    box-sizing: border-box;
}
.detail__img img{
    width: 100%;
}
.detail__product__right{
    box-sizing: border-box;
    padding: 0 1rem;
    
}
.detail__product--title {
    text-align: start;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
}
.detail__product--decs{
    text-align: start;
    font-size: 1rem;
    color: #666;
}
.product--status,.detail__product__buy,
.detail__bottom--title{
    text-align: start;
}
.detail__bottom--title a{
    padding: 0 .5rem;
}
.product--status span:nth-child(1){
    font-size: 1.1rem;
}
.stock{
    color: rgb(144, 237, 5);
}
.detail__price{
    margin-top: 2rem;
    border-top: 1px solid #ddd;
    text-align: start;
    font-size: 2.5rem;
    font-weight: 600;
}
.detail__size h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: start;
}
.detail__size__item{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.detail__size__list,.detail__size__list--active{
    background-color: #fff;
    color: #666;
    border: 1px solid #ddd;
    width: 3rem;
    margin-right: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: .5rem;
}
.detail__size__list--active{
    background-color: #222;
    color: #fff;
    border: 1px solid #222;
}
.detail__buy{
    width: 10rem;
    height: 3rem;
    color: #fff;
    background-color: #ffb900;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #ffb900;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.detail__buy:hover{
    background-color: #222;
    color: #fff;
}
.detail__sale{
    margin-top: 2rem;
    text-align: start;
    padding: 1rem;
    border: 1px dashed red;
}
.detail__sale--decs,.detail__bottom{
    padding: 0;
}
.detail__sale--decs li{
    padding:  .3rem 0;
    font-weight: 500;
}
.icon--sale{
    color: red;
}
.detail__bottom__item, .detail__bottom__item img{
    width: 100%;
    margin-bottom: 1.5rem;
}

@media (max-width:768px){
    .detail__product__left{
        flex-direction: column-reverse;
    }
    .detail__img {
        width: 100%;
    }
    .detail__list{
        margin-top:1rem;
        padding-left: 1rem;
        flex-direction: row;
        width: 80%;
    }
    .detail__list__item{
        padding-right: .5rem;
    }
    .detail__product__right{
        padding: 0 2rem !important;
    }
    .detail__product--title{
        font-size: 1.5rem;
    }
}