.service{
    width: 100%;
}
.service__content{
    padding: 1rem 1rem;
    box-sizing: border-box;
}
.service__item{
    height: 15rem;
    width: 100%;
}
.service__content img{
    width: 100%;
    height: 100%;
}
@media (max-width:768px){
    .service__content{
        width: 100%;
    }
}